body {
    margin: 0;
    padding: 0;
    background: white;
    
}

.container {
    width: 520px;
    height: 650px;
    background-image:url('jiraiya-naruto-naruto-dzhiraiia-ulybka.webp');
    background-size: cover;
    background-position: center;
    border: 20px solid black;
    border-radius: 25px;
    box-shadow: 0 20px 30PX rgb(225, 221, 221);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    margin: 100px auto;
    
}


h1 {
    color: black;
    font-style: italic;
}



.title-line {
    border: none;
    height: 3px;
    background-color: black;  
    width: 2xpx;
    margin: 0 0 15px 0;
}


.quote {
    
     
    padding: 15px;
    margin: 25px 0;
    font-style: roman;
}

.author {
    display: flex;
    align-items: center;
    background: rgb(224, 221, 214);
    padding: 4px;
    border-radius: 3px;
    margin-top: 2px;

}

.aut-img {
    width: 70px;
    height: 80px;
    border-radius: 5px;
    margin-right: 15px;
    object-fit: cover;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background: rgba(174, 204, 24, 0.862);
    color: green;
    padding: 12px 20px;
    border-radius: 4px;
    font-weight: bold;
}

.publisher {
    color: green;
}